body.main {background-color:#FFF8DC;}
p.fontteksta {font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	
}
p.zanritem {border:2px solid black;
	border-radius:10px;background-color:#FFDEAD;
	text-align:center;

}

div.zan {position:fixed;
	top:80px;
		left:50px;


}
div.about {margin-top:1cm;
	border:2px solid black;
}
div.menu1 {margin-top:1cm;
	border:2px solid black;
}
p.forma1 {margin-top:1cm;
	
}
div.header {position:relative;
left:16cm;
top:10px;

}
div.vicevisvi {margin-top:1cm;
	padding-bottom:2px;
	}
a {text-decoration:none;
	color:black;
}
a:hover{text-decoration:none;
color:red;}


td  {width:150px;text-align:center;
	padding-top:0.2cm;
}
td:hover{ background-color:#FFDEAD;
	border-bottom:1pt solid red;
	color:red;
}

div.vic {
	 
	border-radius: 25px;
    margin-left: 15cm;
	margin-bottom:2cm;

margin-right: 5cm;
background-color: white;
width: 600px;

padding-left:1cm;
padding-right:1cm;}

h1 {padding-top:1cm;
padding-left:1cm;}
p {padding-top:0.5cm;
padding-left:1cm;
padding-right:1cm;}

div.vic1 {
	 
	border-radius: 25px;
    margin-left: 15cm;

margin-right: 5cm;
background-color:#FFF8DC;
width: 600px;
height:500px;
padding-left:1cm;
padding-right:1cm;}

h1 {padding-top:1cm;
padding-left:1cm;}
p {padding-top:0.5cm;
padding-left:1cm;
padding-right:1cm;}
div.main {}

div.slika {margin-left:2cm;
  border-radius:50% 50%;
	background-image:url('slika.jpg');

  height:300px;
  width:300px;};


